<app-games-list-search></app-games-list-search>



<div class="container-fluid board-container">
  <div class="gamelist-title-bar">List of Games</div>
  <div class="row board-section">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 news-box" *ngFor="let list of gameListData | orderBy: order:reverse:'case-insensitive' | filter:filter | paginate: { itemsPerPage: 10, currentPage:p }  ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ list.url }}" target="_blank">
              {{ list.title}}</a>
            <span class="score">Score :
              <span> {{ list.score }} </span>
            </span>
          </h5>
          <span class="genre">Genre :
            <span>{{ list.genre}}</span>
          </span>
          <span class="platform">Platform :
            <span> {{ list.platform}} </span>
          </span>
          <span class="release_year">Released at :
            <span> {{ list.release_year}}</span>
          </span>
        </div>
      </div>
    </div>



  </div>
</div>

<app-games-list-pagination></app-games-list-pagination>
