.search-container{
  padding: 50px;
}

.search-icon{
  font-size: 25px;
  padding-left: -20px;
  margin-left: -33px;
  z-index: 100;
  margin-top: 5px;
}

.genre{
  width: 33%;
  float: left;
  color: #828181;
  font-weight: bold;
}
.genre>span{
  font-weight: normal !important;
  color: #f5f4da !important;
}

.platform{
  width: 33%;
  float: left;
  color: #828181;
  font-weight: bold;
}

.platform>span{
  font-weight: normal !important;
  color: #f5f4da !important;
}

.release_year{
  float: right;
  color: #828181;
  font-weight: bold;
  width: 30%;
}

.release_year>span{
  font-weight: normal !important;
  color: #f5f4da !important;
}

.score>span{
  font-weight: normal !important;
  color: #f5f4da !important;
}

.news-box{
  padding-bottom: 10px;
}

.ngx-pagination{
  margin-left: 22% !important ;
}

.board-section{
  margin-left: 5%;
  margin-right: 5%;
}


.card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #00517b;
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    transition: transform 0.2s linear;
    -webkit-box-shadow: 3px 4px 4px #258bde, 3px 4px 4px #258bde, 3px 4px 4px #258bde;
    box-shadow: 3px 4px 4px #258bde, -2px 4px 4px #258bde, 3px -1px 4px #258bde, 7px 4px 4px #258bde;
}

.card:hover{
  transform: scale(1.1);
  z-index: 100;
}

.card-title>a{
  color: #fff !important;
  float: left;
  width: 80%;
}
.card-title>span{
  float: right;
  font-size: 16px;
    font-weight: 500;
    color: #b1b0b0 !important;
}

.card-title>a:hover{
  color: #fff !important;
}

.card-body span{
  color: #b1b0b0;
}

.card-title{
  overflow: auto;
}
.card-body{
  overflow: auto;
}

.sort-icon{
  font-size: 25px;
  padding: 5px;
  color: #00507a;
  margin-left: 7px;
  text-shadow: 1px 1px 18px;
  cursor: pointer;
}
