<div class="container search-container">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Games" aria-label="Search Games" aria-describedby="basic-addon2"
      [(ngModel)]="filter" (ngModelChange)="checkQuery($event)">
    <div class="input-group-append">
      <i class="fa fa-search search-icon"></i>
    </div>
    <div class="input-group-append sort-icon">
      <i class="fas fa-sort-alpha-up search-icon" [hidden]="reverse" (click)="setOrder('title')"></i>
      <i class="fas fa-sort-alpha-down search-icon" [hidden]="!reverse" (click)="setOrder('title')"></i>
    </div>
  </div>
</div>



<div class="container-fluid board-container">
  <div class="gamelist-title-bar">List of Games</div>
  <div class="row board-section">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 news-box" *ngFor="let list of gameListData | orderBy: order:reverse:'case-insensitive' | filter:filter | paginate: { itemsPerPage: 10, currentPage:p }  ">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{ list.url }}" target="_blank">
              {{ list.title}}</a>
            <span class="score">Score :
              <span> {{ list.score }} </span>
            </span>
          </h5>
          <span class="genre">Genre :
            <span>{{ list.genre}}</span>
          </span>
          <span class="platform">Platform :
            <span> {{ list.platform}} </span>
          </span>
          <span class="release_year">Released at :
            <span> {{ list.release_year}}</span>
          </span>
        </div>
      </div>
    </div>



  </div>
</div>

<div class="container search-container">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
